.heading {
    height: 55%;
    background: linear-gradient(rgb(142, 22, 22),rgb(216, 64, 64) );
    margin: 0;

    justify-items: center;
    

}

.title {
    color: black;
    font-family: "Playwrite AU SA", serif;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
    margin-bottom: 20px;
    padding-top: 50px;
    transition: 0.5s;
    
}

.title:hover{
    text-shadow: 1px 1px 2px black;
}

body{
    margin: 0;
    padding: 0;
}

.main{
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1.5fr 1fr;
    margin: 50px;
    width: 80%;
    height: 200px;
    gap: 10px;
   
    
}

.intro{
    grid-row: 1/2;
}

.quote{
    grid-row: 2/3;
}



.img{
 grid-area: 1/2/4/4;
 height: 100%;
 width: 100%;
 justify-items: end;
 align-content: end;
}

.pic{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.actual_img{
    height: 300px;
}

.para_one{
    
    font-family: "Roboto Mono", serif;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
    font-size: 22px;
    color: rgb(238, 238, 238);
}

.quote_one{
    font-family: "Roboto Mono", serif;
    font-optical-sizing: auto;
    font-weight: 500px;
    font-style: normal;
}

.button_1{


  align-items: center;
  appearance: none;
  background-color: #FCFCFD;
  border-radius: 4px;
  border-width: 0;
  box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,rgba(45, 35, 66, 0.3) 0 7px 13px -3px,#D6D6E7 0 -3px 0 inset;
  box-sizing: border-box;
  color: rgb(142, 22, 22);
  cursor: pointer;
  display: inline-flex;
  font-family: "JetBrains Mono",monospace;
  height: 48px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow .15s,transform .15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow,transform;
  font-size: 18px;
  font-weight: bolder;
}

.button_1:focus {
  box-shadow: #D6D6E7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
}

.button_1:hover {
  box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
  transform: translateY(-2px);
}

.button_1:active {
  box-shadow: #D6D6E7 0 3px 7px inset;
  transform: translateY(2px);
}

.middle{
    background-color: rgb(238, 238, 238);

    
    width: 80%;
    border-radius: 10px;
    margin-top: 300px; 


}

.feature-icon {
    width: 4rem;
    height: 4rem;
    border-radius: .75rem;
    background-color: rgb(255, 214, 90);
}

.feature{
    justify-items: center;
}

h3 + p{
    margin-top: 80px;
}

.plans  h1{
    font-family: "Oswald", serif;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
}

.plans p{
    font-family: "Oswald", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 26px;   
}

.plans{
    justify-items: center;
}

#free-btn{
    border-color: rgb(255, 214, 90);
    color: rgb(255, 214, 90);
}

#paid-btn{
    background-color: rgb(255, 214, 90);
    color: black;
}

#Master-card{
    background-color: rgb(255, 214, 90);

}

.card{
    border-color:rgb(255, 214, 90) ;
}

.section-1{
    height: 110rem;
    margin-bottom: 6.5rem;
    display: block;
}

.section-2 p{
    font-family: "Playwrite IN", serif;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
    font-size: 25px;
    padding: 35px;
    text-align: center;
}

.section-2{
    display: block;
}



.section-3{
    height: 1000px;
    
}

.service{
    background-color: rgb(216, 64, 64);
    justify-items: center;
    height: 50%;
    padding: 50px;
}

.why{
    background-color: rgb(255, 214, 90);
    height: 50%;
    text-align: center;

}   

.main-2{
    text-align: center;
}

.button-2{
    background-color: rgb(255, 214, 90);
    color:black;
}

@media (max-width: 991.5px){
    .section-1{
        height: 135rem;
        margin-bottom: 6.5rem;
    }
    
}

@media (max-width: 767.5px){
    .section-1{
        height: 180rem;
        margin-bottom: 6.5rem;
    }
    
}

@media (max-width: 900px){
    li{
        font-size: 13px;
    }

    button{
        font-size: 8px;
    }
}

@media (max-width: 1060px){
    .main{
        display: block;
        justify-items: center;
        
    }

    .pic{
        display: none;
    }

    .section-2  p{
        font-size: 16px;
    }

   


}

@media (max-width: 928px){
    iframe{
        height: 50%;
        width: 50%;
    }

    .quote_one{
        font-size: 14px;
    }
}

.d-block{
    object-fit: cover;
    width: 80px;
    height: 80px;
    border-radius: 40px;
}